<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="container">
        <div class="nav">
            <h1 id="name">Adam Brady</h1>
            <div class="aboutMe">
                <a href="/about" class="items">About Me</a>
                <a href="/projects" class="items">Projects</a>
                <a href="/pacman" class="items">Pacman</a>
                <a href="/hobbies" class="items">Hobbies</a>
            </div>
        </div>
    </div>
</body>
</html>