<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="container">
        <div class="nav">
            <h1 id="name">Adam Brady</h1>
            <div class="aboutMe">
                <a href="/about" class="items">About Me</a>
                <a href="/projects" class="items">Projects</a>
                <a href="/pacman" class="items">Pacman</a>
                <a href="/hobbies" class="items">Hobbies</a>
            </div>
        </div>
        <div class="description">
            <img src="~/images/headshot.png" class="headshot" alt="Adam Headshot"/>
            <div class="content">
                <p>Web developer with a passion to hone, maintain, and improve skills in the web development field. Eager to learn about technology, data analysis, and web design while building a career and improving the world. Dedicated, caring individual with an interest in helping clients and businesses grow through hard work and dedication. Passionate about problem-solving and thinking outside the box when it comes to complex issues. Willing to accept a challenge and become a stronger programmer through hard work and grit.</p>
            </div>
        </div>
        
        <footer>
        <div class="logos">
            <a href="https://www.linkedin.com/in/adam-brady-b54117150/"><img src="~/images/linkedin.png" class="linkedLogo" alt="LinkedIn Logo"></a>
            <a href="https://github.com/aob725"><img src="~/images/github.png" class="gitLogo" alt="GitHub Logo"></a>
        </div>
        </footer>
    </div>
    
</body>
</html>